{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>CodeStar Blog</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico?">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <!-- Favicon link -->
     <link rel="shortcut icon" href="https://res.cloudinary.com/dvnmyhfxx/image/upload/v1678741924/icon_nku3rs.ico" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand"> Chef <span
                        class="thin">|at Home</span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul>
                <span class="navbar-text text-muted">
                    Cooking and having fun 
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <body> 
        <div id="header"> 
        <div class="header">
            <!-- <h1>My Recipe Website</h1> -->
        </div>
    </div>
                <h2 class="section-heading">Featured Recipes</h2>
                <div class="container">
                <div class="card">
                <div class="card-image" style="background-image: url('https://res.cloudinary.com/dvnmyhfxx/image/upload/v1678383424/samples/food/pot-mussels.jpg');"></div>
                <div class="card-text">
                <h3 class="card-heading">Spicy Shrimp Tacos</h3>
                <p class="card-body">These spicy shrimp tacos are perfect for a quick and easy dinner. The shrimp are marinated in a blend of spices and grilled to perfection. Served with fresh cilantro, lime, and avocado, they're a crowd pleaser. But that's not all – the shrimp are then grilled to perfection, creating a smoky, charred flavor that perfectly complements the spicy marinade.</p>
                <a href="https://www.eatingwell.com/recipe/278474/spicy-shrimp-tacos/" class="button">Get the Recipe</a>
                </div>
                </div>
                <div class="card">
                <div class="card-image" style="background-image: url('https://res.cloudinary.com/dvnmyhfxx/image/upload/v1678383424/samples/food/fish-vegetables.jpg');"></div>
                <div class="card-text">
                <h3 class="card-heading">Mediterranean Pasta Salad</h3>
                <p class="card-body">This refreshing pasta salad is perfect for a summer picnic or potluck. Made with fresh vegetables and a tangy dressing, it's a crowd-pleer. The pasta is tossed with cherry tomatoes, cucumber, red onion, and feta cheese, and then drizzled with a lemon vinaigrette. It's light, flavorful, and packed with nutrients. </p>
                <a href="https://feelgoodfoodie.net/recipe/mediterranean-pasta-salad/" class="button">Get the Recipe</a>
                
                </div>
                </div>
                <div class="card">
                <div class="card-image" style="background-image: url('https://res.cloudinary.com/dvnmyhfxx/image/upload/v1678383424/samples/food/fish-vegetables.jpg');"></div>
                <div class="card-text">
                <h3 class="card-heading">Grilled Chicken with Mango Salsa</h3>
                <p class="card-body">This grilled chicken with mango salsa is a perfect combination of sweet and savory flavors. The chicken is marinated in a mixture of herbs and spices, then grilled to perfection. The mango salsa, made with fresh mango, red onion, and cilantro, adds a burst of flavor and freshness to the dish. They're so quick and easy to make.</p>
                <a href="https://2cookinmamas.com/grilled-chicken-with-mango-salsa/" class="button">Get the Recipe</a>
            </div>
                </div>
                </div>
                </div>
                </body>

                <h2 class="section-heading">Tips posted by our users </h2>
    <main class="flex-shrink-0 main-bg">

        {% block content %}
    <!-- Content Goes here -->

        
        {% endblock content %}
    </main>

   <!-- Footer -->
   <footer>
    <ul class="social-networks">
        <li>
            <a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a>
        </li>
        <li>
            <a href="https://youtube.com" target="_blank" rel="noopener"
                aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a>
        </li>
        <li>
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
        </li>
    </ul>

</footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>