{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">{{ recipe.title }}</h2>
          <p class="text-center">Posted by {{recipe.user}} on {{recipe.posted_date}}</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="img-fluid rounded">
            </div>
            <div class="col-md-8 col-sm-12">
              <h3>Description</h3>
              <p>{{recipe.description}}</p>
              <div class="row mt-3">
                <div class="col-md-6 col-sm-12">
                  <h3>Cuisine</h3>
                  <p>{{ recipe.cuisine_types|title }}</p>
                </div>
              </div>
              {% if request.user == recipe.user %} 
              <div class="text-center mt-3">
                <a href="{% url 'recipe_maker:edit_recipe' recipe.pk %}" class="btn btn-primary w-25 me-3">Edit</a>
                <a href="{% url 'recipe_maker:delete_recipe' recipe.pk %}" class="btn btn-danger w-25">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-md-6 col-sm-12">
              <h3>Ingredients</h3>
              <p>{{ recipe.ingredients|safe }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <h3>Instructions</h3>
              <p>{{ recipe.instructions|safe }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}